<!DOCTYPE html>
<html>
<head>
    <title>Add Entry</title>
</head>
<body>
    {{ result_message }}
    <h1>Add Entry</h1>
    <form method="POST" id="add-form" action="http://127.0.0.1:5000/add">
        {{ form.csrf_token }}
        <label for="entry">Entry:</label>
        {{ form.entry.label }}
        {{ form.entry }}
                {% if form.entry.errors %}
                <ul class="errors">
                    {% for error in form.entry.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        <br>
        <label for="type">Type:</label>
        {{ form.type.label }}
        {{ form.type }}
        <br>
        <label for="variable_type">Variable Type:</label>
               
        {{ form.variable_type.label }}
        {{ form.variable_type }} 

        <br>
        <label for="default_type">Default Type:</label>
        {{ form.default_type.label }}
        {{ form.default_type }}
        {% if form.default_type.errors %}
        <ul class="errors">
            {% for error in form.default_type.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        
        <div class="form-group" id="default_value-container" style="display: none;">
            <label for="default_value">Default Value:</label>
            {{ form.default_value.label }}
            {{ form.default_value }}

            {% if form.default_value.errors %}
            <ul class="errors">
                {% for error in form.default_value.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <br>

        <div class="form-group" id="choices-container" style="display: none;">
            <label for="choices">Choices:</label>
            {{ form.choices.label }}
            {{ form.choices }}
            <p> Format your choices like this or just copy paste:</p>
            <p> Yes or No:  ('0', 'No'), ('1', 'Yes')</p>
            <p> Numeric: ('1', '1'), ('2', '2'), ('3', '3'), ('4', '4'), ('5', '5')</p>
            <p> Numeric option 2: ('0', 'Terrible'), ('1', 'Not Good'), ('2','Ok'), ('3','Good'),('4','Great')</p>
            <p> String: ('Ill', 'Ill'),('Injured', 'Injured'), ('Not Feeling well', 'Not feeling well'), ('A-ok', 'A-ok')</p>
            <p> The first value is what will be saved in the database, the second is what will show on the form.</p>
        </div>
        <br>
        <input type="submit" value="Add">
    </form>

    <script>
        // Show or hide the "Choices" field based on the selected type
        const typeInput = document.getElementById('{{ form.type.id }}');
        const choicesInput = document.getElementById('{{ form.choices.id }}');
        const choicesContainer = document.getElementById('choices-container');
        
        const defaultInput = document.getElementById('{{ form.default_type.id }}');
        const defaultValueInput = document.getElementById('{{ form.default_value.id }}');
        const defaultValueContainer = document.getElementById('default_value-container');
    
        const variableTypeSelect = document.getElementById('{{ form.variable_type.id }}');
    
        // Function to set the locked variable type based on field type
        function setLockedVariableType() {
            if (typeInput.value === 'BooleanField') {
                variableTypeSelect.value = 'Binary';
            } else if (typeInput.value === 'StringField' || typeInput.value === 'TextAreaField') {
                variableTypeSelect.value = 'String';
            } else if (typeInput.value === 'IntegerField' || typeInput.value === 'DecimalField') {
                variableTypeSelect.value = 'Integer';
            }
        }
    
        typeInput.addEventListener('change', () => {
            if (typeInput.value === 'SelectField' || typeInput.value === 'RadioField') {
                choicesContainer.style.display = 'block';
                variableTypeSelect.style.display = 'block';
                variableTypeSelect.value = 'Integer'
            } else {
                choicesContainer.style.display = 'none';
                variableTypeSelect.style.display = 'none';
                choicesInput.value = ''; // Set the value to empty when hidden
            }
            setLockedVariableType();
            

        });
    
        defaultInput.addEventListener('change', () => {
            if (defaultInput.value === 'Default Value') {
                defaultValueContainer.style.display = 'block';
            } else {
                defaultValueContainer.style.display = 'none';
                defaultValueInput.value = ''; // Set the value to empty when hidden
            }
        });
    
        // Initialize the field visibility and locked variable type based on the initial value
        setLockedVariableType();
        if (typeInput.value === 'SelectField' || typeInput.value === 'RadioField') {
            choicesContainer.style.display = 'block';
        } else {
            variableTypeSelect.style.display = 'none';
        }
        if (defaultInput.value === 'Default Value'){
            defaultValueContainer.style.display = 'block';
        }

    </script>
    
    
</body>
</html>
