<!DOCTYPE html>
<html>
<head>
    <title>Journal Entry Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const dateInput = document.getElementById("selected_date");
              
            dateInput.addEventListener("change", function() {
                const selectedDate = dateInput.value;
                const baseUrl = window.location.href.split('?')[0];  // Get the base URL without query parameters
                const url = `${baseUrl}?selected_date=${selectedDate}`;
                window.location.href = url;
            });
        });
        </script>
        
    
        
</head>
<body>
    <h1>Journal Entry</h1>

    <div style="float:left;">

    <table>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <tr>
                <th>{{ field.label }}</th>
                <th>{{ field }}</th> 
                <th>{{trend_dict[field.label.text]}}</th>
            

                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <input type="submit" value="Submit">
            </td>
        </tr>  
    </form>
    </table>
    </div>
    
    <div style="float:left;">
        <form method="POST" action="/" id="chart_form">
                        {{ form.csrf_token }}

            <label for="variable">Select a variable:</label>
            <select name="variable" id="variable" onchange="this.form.submit()">
      
              {% for var_name in var_names %}
                <option value="{{ var_name }}">{{ var_name }}</option>
              {% endfor %}
            </select>
        </form>
          
      
      
          {% if request.method == 'POST' %}
          <img src="{{ url_for('static', filename='plot.png') }}" alt="Line Plot">

          {% endif %}
      
          {% if request.method != 'POST' %}
          <img src="{{ url_for('static', filename='plot.png') }}" alt="Line Plot">
        {% endif %}    
    </div>
    <script>
        $(document).ready(function () {
            console.log("JavaScript code executed");
            $('#variable').on('change', function () {
                // Serialize the form data
                var selectedField = $(this).attr("name"); // Get the name of the selected field
                var formData = $('#chart_form').serialize();
                console.log("Serialized Form Data:", formData);
                console.log("Selected Field:", selectedField);
                // Send a POST request to the server
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: formData,
                    success: function (data) {
                        // Update the content of the image container
                        $('#image-container').html(data);
                    }
                });
            });
        });
    </script>
        <p>{{ result_message }}</p>

</body>
</html>
