<!DOCTYPE html>
<html>
<head>
    <title>Journal Entry Form</title>
</head>
<body>
    <h1>Journal Entry</h1>

    <table>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <tr>
                <th>{{ field.label }}</th>
                <th>{{ field }}</th> 
                <th>{{trend_dict[field.label.text]}}</th>
            

                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                </tr>
        {% endfor %}

    </table>

        <input type="submit" value="Submit">

        <p>{{ result_message }}</p>
</body>
</html>
